// $primero: rgb(2, 169, 208);
// $segundo: rgb(81, 192, 218);
// $tercero: rgb(139, 213, 230);
// $cuarto: rgb(226, 244, 248);
// $quinto: rgb(207, 226, 243);
$primero: rgb(236, 180, 59);
$segundo: rgb(236, 180, 59);
$tercero: rgb(236, 180, 59);
// $cuarto: white;
$quinto: rgb(206, 71, 33);
$thumbColor: rgb(234, 14, 14);
$displayWidth: 100vw;
$displayMargin: auto;

body {
  background-color: $quinto;
  box-sizing: border-box;
}

#calculator {
  margin-top: 3rem;
  border-radius: 3%;
  background-color: green;
}

#displayBox {
  background-image: linear-gradient(358deg, hsl(0deg 0% 100%) 0%, hsl(0deg 0% 100%) 10%, hsl(41deg 83% 86%) 15%, hsl(41deg 83% 79%) 20%, hsl(41deg 82% 60%) 30%, hsl(41deg 82% 55%) 70%, hsl(41deg 82% 50%) 100%);
}

#display {
  // background-color: $primero;
  text-decoration: none;
  height: 2rem;
  width: $displayWidth;
  margin: $displayMargin;
  font-weight: 800;
  font-size: 1.5rem;
  color: white;
}

#displayAll {
  height: 4rem;
  width: $displayWidth;
  margin: $displayMargin;
  font-weight: 600;
  font-size: 1rem;
  color: white;
}

#button-pad {
  background-color: white;
  // background-image: linear-gradient(
  //   355deg,
  //   hsl(41deg 82% 58%) 0%,
  //   hsl(41deg 82% 58%) 1%,
  //   hsl(41deg 82% 58%) 3%,
  //   hsl(41deg 82% 65%) 14%,
  //   hsl(41deg 82% 72%) 20%,
  //   hsl(41deg 83% 79%) 24%,
  //   hsl(41deg 83% 86%) 28%,
  //   hsl(42deg 83% 93%) 31%,
  //   hsl(0deg 0% 100%) 34%,
  //   hsl(0deg 0% 100%) 37%,
  //   hsl(0deg 0% 100%) 40%,
  //   hsl(0deg 0% 100%) 43%,
  //   hsl(0deg 0% 100%) 46%,
  //   hsl(0deg 0% 100%) 49%,
  //   hsl(0deg 0% 100%) 51%,
  //   hsl(0deg 0% 100%) 54%,
  //   hsl(0deg 0% 100%) 57%,
  //   hsl(0deg 0% 100%) 59%,
  //   hsl(0deg 0% 100%) 62%,
  //   hsl(0deg 0% 100%) 65%,
  //   hsl(0deg 0% 100%) 68%,
  //   hsl(42deg 83% 93%) 71%,
  //   hsl(41deg 83% 86%) 75%,
  //   hsl(41deg 83% 79%) 78%,
  //   hsl(41deg 82% 60%) 83%,
  //   hsl(41deg 82% 55%) 88%,
  //   hsl(41deg 82% 50%) 100%
  // );
  // margin: auto;
  width: 100%;
}

button {
  background: none;
  border: none;
  padding: 10px;
  margin: 0px;

  // background-color: $primero;
  // border-radius: 5px;
}
.memorySlot {
  // background-color: $tercero;
  width: $displayWidth;
  margin: $displayMargin;
}

[parentheses-delta] {
  position: relative;
}
[parentheses-delta]::before {
  content: attr(parentheses-delta);
  position: absolute;
  top: -0.01em;
  right: -0.01em;
  width: 1em;
  height: 1em;
  font-size: 0.8rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: red;
  // border-radius: 50%;
  // background-color: red;
  // color: white;
}

footer {
  position: absolute;
  font-size: xx-small;
  font-style: italic;
  color: $primero;
  width: 100%;
  font-weight: 800;
  margin-top: 25px;
  top: calc(300px + 15vh);
  bottom: 0;
  left: 0;
}

#footer {
  position: absolute;
  bottom: 10px;
  width: 99vw;
  text-align: center;
}
