// $primero: rgb(2, 169, 208);
// $segundo: rgb(81, 192, 218);
// $tercero: rgb(139, 213, 230);
// $cuarto: rgb(226, 244, 248);
// $quinto: rgb(207, 226, 243);
$primero: rgb(236, 180, 59);
$segundo: linear-gradient(225deg, hsl(41deg 83% 79%) 0%, hsl(41deg 82% 60%) 20%, hsl(41deg 82% 55%) 35%, hsl(41deg 82% 50%) 100%);
$tercero: linear-gradient(225deg, hsl(41deg 83% 79%) 0%, hsl(41deg 82% 60%) 80%, hsl(41deg 82% 65%) 95%, hsl(41deg 82% 50%) 100%);
$cuarto: linear-gradient(225deg, hsl(41deg 83% 79%) 0%, hsl(41deg 82% 60%) 30%, hsl(41deg 82% 65%) 60%, hsl(41deg 82% 50%) 100%);
$quinto: rgb(206, 71, 33);
$thumbColor: rgb(234, 14, 14);
$displayWidth: 100vw;
$displayMargin: auto;

body {
  background-color: $quinto;
  box-sizing: border-box;
}

#calculator {
  margin: 0.5rem auto; // indent from window borders
  background-color: green;
}

#displayBox {
  background-image: linear-gradient(358deg, hsl(0deg 0% 100%) 0%, hsl(0deg 0% 100%) 10%, hsl(41deg 83% 86%) 15%, hsl(41deg 83% 79%) 20%, hsl(41deg 82% 60%) 30%, hsl(41deg 82% 55%) 70%, hsl(41deg 82% 50%) 100%);
  border-radius: 25px 25px 0 0;
}

#display {
  height: 3rem; // height of the result display
  padding-top: 1rem; // indent from top border of parent container (#calculator)
  text-align: center; // styling result
  font-weight: 800; // styling result
  font-size: 1.5rem; // styling result
  color: white; // styling result
}

#displayAll {
  height: 9rem; // height of the displayOps
  padding-top: 1rem; // indent from top border of parent container (#calculator)
  font-weight: 600; // styling displayOps
  font-size: 1rem; // styling displayOps
  color: white; // styling displayOps
}

#button-pad {
  background-color: white;
}

button {
  background: none;
  border: none;
  margin: 0.5vw;
  width: 13vw;
  height: 13vw;
  box-shadow: 2px 2px rgba(110, 86, 38, 0.438);
  border-radius: 15px;
  font-weight: 800;
  font-size: 1.5rem;
}

.main-btn {
  background-image: $segundo;
  color: white;
}

.trigonometry-btn {
  background-image: $tercero;
  color: white;
}

.secondary-btn {
  background-image: $cuarto;
  color: white;
}

#memorySlot {
  background-image: linear-gradient(358deg, hsl(41deg 82% 50%) 0%, hsl(41deg 82% 55%) 30%, hsl(41deg 82% 60%) 70%, hsl(41deg 83% 79%) 80%, hsl(41deg 83% 86%) 85%, hsl(0deg 0% 100%) 90%, hsl(0deg 0% 100%) 0%);
  border-radius: 0 0 25px 25px;
}

[parentheses-delta] {
  position: relative;
}
[parentheses-delta]::before {
  content: attr(parentheses-delta);
  position: absolute;
  top: -0.01em;
  right: -0.01em;
  width: 1em;
  height: 1em;
  font-size: 0.8rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: red;
  // border-radius: 50%;
  // background-color: red;
  // color: white;
}

// footer {
//   position: absolute;
//   font-size: xx-small;
//   font-style: italic;
//   color: $primero;
//   width: 100%;
//   font-weight: 800;
//   margin-top: 25px;
//   top: calc(300px + 15vh);
//   bottom: 0;
//   left: 0;
// }

// #footer {
//   position: absolute;
//   bottom: 10px;
//   width: 99vw;
//   text-align: center;
// }
