:root {
  --hue-rotate: hue-rotate(0deg);
  --second-color: white;
}

body {
  box-sizing: border-box;
}

#background {
  background-image: linear-gradient(358deg, rgb(232, 166, 23) 0%, rgb(239, 193, 93) 30%, rgb(237, 184, 69) 50%, rgb(246, 218, 157) 65%, var(--second-color) 75%, var(--second-color) 100%);
  filter: var(--hue-rotate);
  position: absolute;
  top: 0px;
  left: 0px;
}

#calculator {
  margin: 2vw;
  width: 96vw;
  background-color: var(--second-color);
  border-radius: 25px;
}

#displayBox {
  background-image: linear-gradient(358deg, var(--second-color) 0%, var(--second-color) 10%, rgb(246, 218, 157) 20%, rgb(237, 184, 69) 30%, rgb(232, 166, 23) 100%);
  border-radius: 25px 25px 0 0;
}

#display {
  height: 13vw;
  padding: 4.3vw 13vw 0 13vw;
  text-align: center;
  font-weight: 800;
  font-size: 6.4vw;
  color: var(--second-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

#displayAll {
  height: 37vw;
  padding-top: 4.3vw;
  padding-bottom: 5vw;
  font-weight: 600;
  font-size: 4.3vw;
  color: var(--second-color);
  overflow: auto;
}

::-webkit-scrollbar {
  width: 2vw;
  height: 2vw;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  border: solid 1px rgb(236, 180, 59);
}

::-webkit-scrollbar-thumb {
  background: var(--second-color);
  border-radius: 10px;
  border: solid 1px rgb(236, 180, 59);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(236, 180, 59);
  border: solid 2px var(--second-color);
}

#button-pad {
  background-color: var(--second-color);
}

button {
  background: none;
  border: none;
  margin: 0.5vw;
  width: 14vw;
  height: 14vw;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 15px;
  font-weight: 800;
  font-size: 4.5vw;
  overflow: hidden;
}

.main-btn {
  background-image: linear-gradient(225deg, rgb(246, 218, 157) 0%, rgb(237, 184, 69) 30%, rgb(239, 193, 93) 60%, rgb(232, 166, 23) 100%);
  filter: hue-rotate(-5deg);
  color: var(--second-color);
  font-size: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-btn {
  color: rgb(236, 180, 59);
  font-weight: 600;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  font-size: 6vw;
}

.tertiary-btn {
  color: rgb(236, 180, 59);
  font-weight: 600;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  font-size: 6vw;
}

.digits-btn {
  background-image: linear-gradient(225deg, rgb(246, 218, 157) 0%, rgb(237, 184, 69) 30%, rgb(239, 193, 93) 60%, rgb(232, 166, 23) 100%);
  color: var(--second-color);
  font-size: 7vw;
}

.long-text-btn {
  font-size: 5vw;
}

.main-operators {
  font-size: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  border: 1px solid rgb(236, 180, 59);
  border-color: rgb(236, 180, 59);
  box-shadow: 0 0 7px 2px rgb(236, 180, 59);
}

button:active {
  color: var(--second-color);
  background-image: linear-gradient(225deg, rgb(246, 218, 157) 0%, rgb(237, 184, 69) 30%, rgb(239, 193, 93) 60%, rgb(232, 166, 23) 100%);
  box-shadow: 0 2px 7px 2px var(--second-color);
  transform: translateY(-2px);
}

.digits-btn:hover,
.main-btn:hover {
  border: 1px solid var(--second-color);
  border-color: var(--second-color);
  box-shadow: 0 0 7px 4px var(--second-color);
}

.digits-btn:active,
.main-btn:active {
  color: rgb(236, 180, 59);
  background: var(--second-color);
  box-shadow: 0 2px 7px 2px rgb(236, 180, 59);
  transform: translateY(-2px);
}

#copy, #colorTheme, #style680, #style640, #style600, #style560, #style520, #style480, #style440, #style400, #style360, #style320, #style280, #style240, #style200, #style160, #style120, #style80, #style40, #style0 {
  position: absolute;
  z-index: 1;
  margin: 4vw 4vw 0 0;
  right: 0;
  position: absolute;
  font-size: 6vw;
  width: 7vw;
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--second-color);
  box-shadow: none;
}

#colorTheme, #style680, #style640, #style600, #style560, #style520, #style480, #style440, #style400, #style360, #style320, #style280, #style240, #style200, #style160, #style120, #style80, #style40, #style0 {
  left: 0;
  margin: 4vw 0 0 4vw;
  color: var(--second-color);
  width: 7vw;
  height: 7vw;
  font-size: 7vw;
  z-index: 1;
  border-radius: 1.1vw;
}

#style0 {
  margin-top: 3.5vw;
  margin-left: 11.5vw;
  background-color: rgb(236, 180, 59);
  width: 10vw;
  height: 13vw;
  font-size: 14.5vw;
  z-index: 1;
  color: white;
  filter: hue-rotate(0deg);
}

#style40 {
  margin-top: 3.5vw;
  margin-left: 24.8333333333vw;
  background-color: rgb(236, 180, 59);
  width: 10vw;
  height: 13vw;
  font-size: 14.5vw;
  z-index: 1;
  color: white;
  filter: hue-rotate(40deg);
}

#style80 {
  margin-top: 3.5vw;
  margin-left: 38.1666666667vw;
  background-color: rgb(236, 180, 59);
  width: 10vw;
  height: 13vw;
  font-size: 14.5vw;
  z-index: 1;
  color: white;
  filter: hue-rotate(80deg);
}

#style120 {
  margin-top: 3.5vw;
  margin-left: 51.5vw;
  background-color: rgb(236, 180, 59);
  width: 10vw;
  height: 13vw;
  font-size: 14.5vw;
  z-index: 1;
  color: white;
  filter: hue-rotate(120deg);
}

#style160 {
  margin-top: 3.5vw;
  margin-left: 64.8333333333vw;
  background-color: rgb(236, 180, 59);
  width: 10vw;
  height: 13vw;
  font-size: 14.5vw;
  z-index: 1;
  color: white;
  filter: hue-rotate(160deg);
}

#style200 {
  margin-top: 3.5vw;
  margin-left: 78.1666666667vw;
  background-color: rgb(236, 180, 59);
  width: 10vw;
  height: 13vw;
  font-size: 14.5vw;
  z-index: 1;
  color: white;
  filter: hue-rotate(200deg);
}

#style240 {
  margin-top: 18vw;
  margin-left: 11.5vw;
  background-color: rgb(236, 180, 59);
  width: 10vw;
  height: 13vw;
  font-size: 14.5vw;
  z-index: 1;
  color: white;
  filter: hue-rotate(240deg);
}

#style280 {
  margin-top: 18vw;
  margin-left: 24.8333333333vw;
  background-color: rgb(236, 180, 59);
  width: 10vw;
  height: 13vw;
  font-size: 14.5vw;
  z-index: 1;
  color: white;
  filter: hue-rotate(280deg);
}

#style320 {
  margin-top: 18vw;
  margin-left: 38.1666666667vw;
  background-color: rgb(236, 180, 59);
  width: 10vw;
  height: 13vw;
  font-size: 14.5vw;
  z-index: 1;
  color: white;
  filter: hue-rotate(320deg);
}

#style360 {
  margin-top: 18vw;
  margin-left: 51.5vw;
  background-color: rgb(236, 180, 59);
  width: 10vw;
  height: 13vw;
  font-size: 14.5vw;
  z-index: 1;
  color: rgb(59, 68, 75);
  filter: hue-rotate(360deg);
}

#style400 {
  margin-top: 18vw;
  margin-left: 64.8333333333vw;
  background-color: rgb(236, 180, 59);
  width: 10vw;
  height: 13vw;
  font-size: 14.5vw;
  z-index: 1;
  color: rgb(59, 68, 75);
  filter: hue-rotate(400deg);
}

#style440 {
  margin-top: 18vw;
  margin-left: 78.1666666667vw;
  background-color: rgb(236, 180, 59);
  width: 10vw;
  height: 13vw;
  font-size: 14.5vw;
  z-index: 1;
  color: rgb(59, 68, 75);
  filter: hue-rotate(440deg);
}

#style480 {
  margin-top: 32.5vw;
  margin-left: 11.5vw;
  background-color: rgb(236, 180, 59);
  width: 10vw;
  height: 13vw;
  font-size: 14.5vw;
  z-index: 1;
  color: rgb(59, 68, 75);
  filter: hue-rotate(480deg);
}

#style520 {
  margin-top: 32.5vw;
  margin-left: 24.8333333333vw;
  background-color: rgb(236, 180, 59);
  width: 10vw;
  height: 13vw;
  font-size: 14.5vw;
  z-index: 1;
  color: rgb(59, 68, 75);
  filter: hue-rotate(520deg);
}

#style560 {
  margin-top: 32.5vw;
  margin-left: 38.1666666667vw;
  background-color: rgb(236, 180, 59);
  width: 10vw;
  height: 13vw;
  font-size: 14.5vw;
  z-index: 1;
  color: rgb(59, 68, 75);
  filter: hue-rotate(560deg);
}

#style600 {
  margin-top: 32.5vw;
  margin-left: 51.5vw;
  background-color: rgb(236, 180, 59);
  width: 10vw;
  height: 13vw;
  font-size: 14.5vw;
  z-index: 1;
  color: rgb(59, 68, 75);
  filter: hue-rotate(600deg);
}

#style640 {
  margin-top: 32.5vw;
  margin-left: 64.8333333333vw;
  background-color: rgb(236, 180, 59);
  width: 10vw;
  height: 13vw;
  font-size: 14.5vw;
  z-index: 1;
  color: rgb(59, 68, 75);
  filter: hue-rotate(640deg);
}

#style680 {
  margin-top: 32.5vw;
  margin-left: 78.1666666667vw;
  background-color: rgb(236, 180, 59);
  width: 10vw;
  height: 13vw;
  font-size: 14.5vw;
  z-index: 1;
  color: rgb(59, 68, 75);
  filter: hue-rotate(680deg);
}

#copy:hover, #colorTheme:hover, #style0:hover, #style40:hover, #style80:hover, #style120:hover, #style160:hover, #style200:hover, #style240:hover, #style280:hover, #style320:hover, #style360:hover, #style400:hover, #style440:hover, #style480:hover, #style520:hover, #style560:hover, #style600:hover, #style640:hover, #style680:hover {
  border: 1px solid var(--second-color);
  border-color: var(--second-color);
  box-shadow: 0 0 7px 4px var(--second-color);
}

#copy:active, #colorTheme:active, #style0:active, #style40:active, #style80:active, #style120:active, #style160:active, #style200:active, #style240:active, #style280:active, #style320:active, #style360:active, #style400:active, #style440:active, #style480:active, #style520:active, #style560:active, #style600:active, #style640:active, #style680:active {
  color: rgb(236, 180, 59);
  background: var(--second-color);
  box-shadow: 0 2px 7px 2px rgb(236, 180, 59);
  transform: translateY(-2px);
}

#memorySlot {
  border-radius: 0 0 25px 25px;
  padding-top: 7vw;
  padding-bottom: 3vw;
}

.singleMemorySlot {
  margin: 1vw 0;
}

.ms-btn {
  background-image: linear-gradient(225deg, rgb(246, 218, 157) 0%, rgb(237, 184, 69) 30%, rgb(239, 193, 93) 60%, rgb(232, 166, 23) 100%);
  filter: hue-rotate(-5deg);
  width: 12vw;
  height: 6vw;
  margin: auto 1vw;
  display: inline;
  color: var(--second-color);
  font-size: 4vw;
}

.ms-text, .saved-result {
  width: 52vw;
  height: 8vw;
  border: 1px solid rgb(236, 180, 59);
  border-radius: 5px;
  font-size: 4vw;
  color: rgb(236, 180, 59);
  font-weight: 600;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  text-align: center;
  padding: 0.5vw 3vw;
  display: inline-block;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.saved-result {
  color: var(--second-color);
  background-color: rgb(236, 180, 59);
  font-size: 4.1vw;
}

button > i {
  pointer-events: none;
}

[parentheses-delta] {
  position: relative;
}

[parentheses-delta]::before {
  content: attr(parentheses-delta);
  position: absolute;
  top: 1.2vw;
  right: 1.2vw;
  width: 5vw;
  height: 5vw;
  font-size: 4.5vw;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(236, 180, 59);
}

[parentheses-delta]:active:before {
  color: var(--second-color);
}

footer {
  margin-top: 5vw;
  font-size: 3vw;
  font-style: italic;
  color: var(--second-color);
  font-weight: 600;
  text-align: center;
}

@media only screen and (orientation: portrait) {
  #portrait {
    display: block;
  }
  #landscape {
    display: none;
  }
}
@media only screen and (orientation: landscape) {
  #portrait {
    display: none;
  }
  #landscape {
    display: block;
    background-image: linear-gradient(225deg, rgb(246, 218, 157) 0%, rgb(237, 184, 69) 30%, rgb(239, 193, 93) 60%, rgb(232, 166, 23) 100%);
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
  #landscape div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20vh;
    font-size: 2vw;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    color: var(--second-color);
  }
  #landscape img {
    height: 70vh;
    display: block;
    margin: auto;
  }
  .no-flip {
    transform: rotate(-90deg);
  }
  .flip {
    transform: scaleX(-1) rotate(-90deg);
  }
}/*# sourceMappingURL=styles.css.map */