:root {
  --hue-rotate: hue-rotate(0deg);
  --second-color: rgb(59, 68, 75);
}

body {
  box-sizing: border-box;
}

#background {
  background-image: linear-gradient(358deg, rgb(232, 166, 23) 0%, rgb(239, 193, 93) 30%, rgb(237, 184, 69) 50%, rgb(246, 218, 157) 65%, var(--second-color) 75%, var(--second-color) 100%);
  filter: var(--hue-rotate);
  position: absolute;
  top: 0px;
  left: 0px;
}

#calculator {
  margin: 2vw;
  width: 96vw;
  background-color: var(--second-color);
  border-radius: 25px;
}

#displayBox {
  background-image: linear-gradient(358deg, var(--second-color) 0%, var(--second-color) 10%, rgb(246, 218, 157) 20%, rgb(237, 184, 69) 30%, rgb(232, 166, 23) 100%);
  border-radius: 25px 25px 0 0;
}

#display {
  height: 13vw;
  padding-top: 4.3vw;
  text-align: center;
  font-weight: 800;
  font-size: 6.4vw;
  color: var(--second-color);
}

#displayAll {
  height: 37vw;
  padding-top: 4.3vw;
  font-weight: 600;
  font-size: 4.3vw;
  color: var(--second-color);
}

#button-pad {
  background-color: var(--second-color);
}

button {
  background: none;
  border: none;
  margin: 0.5vw;
  width: 14vw;
  height: 14vw;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 15px;
  font-weight: 800;
  font-size: 4.5vw;
  overflow: hidden;
}

.main-btn {
  background-image: linear-gradient(225deg, rgb(246, 218, 157) 0%, rgb(237, 184, 69) 30%, rgb(239, 193, 93) 60%, rgb(232, 166, 23) 100%);
  filter: hue-rotate(-5deg);
  color: var(--second-color);
  font-size: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-btn {
  color: rgb(236, 180, 59);
  font-weight: 600;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  font-size: 6vw;
}

.tertiary-btn {
  color: rgb(236, 180, 59);
  font-weight: 600;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  font-size: 6vw;
}

.digits-btn {
  background-image: linear-gradient(225deg, rgb(246, 218, 157) 0%, rgb(237, 184, 69) 30%, rgb(239, 193, 93) 60%, rgb(232, 166, 23) 100%);
  color: var(--second-color);
  font-size: 7vw;
}

.long-text-btn {
  font-size: 5vw;
}

.main-operators {
  font-size: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  border: 1px solid rgb(236, 180, 59);
  border-color: rgb(236, 180, 59);
  box-shadow: 0 0 7px 2px rgb(236, 180, 59);
}

button:active {
  color: var(--second-color);
  background-image: linear-gradient(225deg, rgb(246, 218, 157) 0%, rgb(237, 184, 69) 30%, rgb(239, 193, 93) 60%, rgb(232, 166, 23) 100%);
  box-shadow: 0 2px 7px 2px var(--second-color);
  transform: translateY(-2px);
}

.digits-btn:hover,
.main-btn:hover {
  border: 1px solid var(--second-color);
  border-color: var(--second-color);
  box-shadow: 0 0 7px 4px var(--second-color);
}

.digits-btn:active,
.main-btn:active {
  color: rgb(236, 180, 59);
  background: var(--second-color);
  box-shadow: 0 2px 7px 2px rgb(236, 180, 59);
  transform: translateY(-2px);
}

#copy, #colorTheme, #style720, #style675, #style630, #style585, #style540, #style495, #style450, #style405, #style360, #style315, #style270, #style225, #style180, #style135, #style90, #style45, #style0 {
  position: absolute;
  z-index: 1;
  margin: 1vw 3vw 0 0;
  right: 0;
  position: absolute;
  font-size: 6vw;
  width: 7vw;
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--second-color);
  box-shadow: none;
}

#colorTheme, #style720, #style675, #style630, #style585, #style540, #style495, #style450, #style405, #style360, #style315, #style270, #style225, #style180, #style135, #style90, #style45, #style0 {
  left: 0;
  margin: 3vw 0 0 3vw;
  background-color: white;
  width: 10vw;
  height: 10vw;
  font-size: 8vw;
}

#style0 {
  margin-top: 3vw;
  margin-left: 3vw;
  margin-right: 0;
  margin-bottom: 0;
  color: rgb(236, 180, 59);
  background-color: white;
  filter: hue-rotate(0deg);
}

#style45 {
  margin-top: 14.25vw;
  margin-left: 3vw;
  margin-right: 0;
  margin-bottom: 0;
  color: rgb(236, 180, 59);
  background-color: white;
  filter: hue-rotate(45deg);
}

#style90 {
  margin-top: 25.5vw;
  margin-left: 3vw;
  margin-right: 0;
  margin-bottom: 0;
  color: rgb(236, 180, 59);
  background-color: white;
  filter: hue-rotate(90deg);
}

#style135 {
  margin-top: 36.75vw;
  margin-left: 3vw;
  margin-right: 0;
  margin-bottom: 0;
  color: rgb(236, 180, 59);
  background-color: white;
  filter: hue-rotate(135deg);
}

#style180 {
  margin-top: 3vw;
  margin-left: 14vw;
  margin-right: 0;
  margin-bottom: 0;
  color: rgb(236, 180, 59);
  background-color: white;
  filter: hue-rotate(180deg);
}

#style225 {
  margin-top: 14.25vw;
  margin-left: 14vw;
  margin-right: 0;
  margin-bottom: 0;
  color: rgb(236, 180, 59);
  background-color: white;
  filter: hue-rotate(225deg);
}

#style270 {
  margin-top: 25.5vw;
  margin-left: 14vw;
  margin-right: 0;
  margin-bottom: 0;
  color: rgb(236, 180, 59);
  background-color: white;
  filter: hue-rotate(270deg);
}

#style315 {
  margin-top: 36.75vw;
  margin-left: 14vw;
  margin-right: 0;
  margin-bottom: 0;
  color: rgb(236, 180, 59);
  background-color: white;
  filter: hue-rotate(315deg);
}

#style360 {
  margin-top: 3vw;
  margin-left: 25vw;
  margin-right: 0;
  margin-bottom: 0;
  color: rgb(236, 180, 59);
  background-color: rgb(59, 68, 75);
  filter: hue-rotate(360deg);
}

#style405 {
  margin-top: 14.25vw;
  margin-left: 25vw;
  margin-right: 0;
  margin-bottom: 0;
  color: rgb(236, 180, 59);
  background-color: rgb(59, 68, 75);
  filter: hue-rotate(405deg);
}

#style450 {
  margin-top: 25.5vw;
  margin-left: 25vw;
  margin-right: 0;
  margin-bottom: 0;
  color: rgb(236, 180, 59);
  background-color: rgb(59, 68, 75);
  filter: hue-rotate(450deg);
}

#style495 {
  margin-top: 36.75vw;
  margin-left: 25vw;
  margin-right: 0;
  margin-bottom: 0;
  color: rgb(236, 180, 59);
  background-color: rgb(59, 68, 75);
  filter: hue-rotate(495deg);
}

#style540 {
  margin-top: 3vw;
  margin-left: 36vw;
  margin-right: 0;
  margin-bottom: 0;
  color: rgb(236, 180, 59);
  background-color: rgb(59, 68, 75);
  filter: hue-rotate(540deg);
}

#style585 {
  margin-top: 14.25vw;
  margin-left: 36vw;
  margin-right: 0;
  margin-bottom: 0;
  color: rgb(236, 180, 59);
  background-color: rgb(59, 68, 75);
  filter: hue-rotate(585deg);
}

#style630 {
  margin-top: 25.5vw;
  margin-left: 36vw;
  margin-right: 0;
  margin-bottom: 0;
  color: rgb(236, 180, 59);
  background-color: rgb(59, 68, 75);
  filter: hue-rotate(630deg);
}

#style675 {
  margin-top: 36.75vw;
  margin-left: 36vw;
  margin-right: 0;
  margin-bottom: 0;
  color: rgb(236, 180, 59);
  background-color: rgb(59, 68, 75);
  filter: hue-rotate(675deg);
}

#style720 {
  margin-top: 48vw;
  margin-left: 36vw;
  margin-right: 0;
  margin-bottom: 0;
  color: rgb(236, 180, 59);
  background-color: rgb(59, 68, 75);
  filter: hue-rotate(720deg);
}

#copy:hover, #colorTheme:hover, #style0:hover, #style45:hover, #style90:hover, #style135:hover, #style180:hover, #style225:hover, #style270:hover, #style315:hover, #style360:hover, #style405:hover, #style450:hover, #style495:hover, #style540:hover, #style585:hover, #style630:hover, #style675:hover, #style720:hover {
  border: 1px solid var(--second-color);
  border-color: var(--second-color);
  box-shadow: 0 0 7px 4px var(--second-color);
}

#copy:active, #colorTheme:active, #style0:active, #style45:active, #style90:active, #style135:active, #style180:active, #style225:active, #style270:active, #style315:active, #style360:active, #style405:active, #style450:active, #style495:active, #style540:active, #style585:active, #style630:active, #style675:active, #style720:active {
  color: rgb(236, 180, 59);
  background: var(--second-color);
  box-shadow: 0 2px 7px 2px rgb(236, 180, 59);
  transform: translateY(-2px);
}

#memorySlot {
  border-radius: 0 0 25px 25px;
  padding-top: 7vw;
  padding-bottom: 3vw;
}

.singleMemorySlot {
  margin: 1vw 0;
}

.ms-btn {
  background-image: linear-gradient(225deg, rgb(246, 218, 157) 0%, rgb(237, 184, 69) 30%, rgb(239, 193, 93) 60%, rgb(232, 166, 23) 100%);
  filter: hue-rotate(-5deg);
  width: 12vw;
  height: 6vw;
  margin: auto 1vw;
  display: inline;
  color: var(--second-color);
  font-size: 4vw;
}

.ms-text, .saved-result {
  width: 52vw;
  height: 8vw;
  border: 1px solid rgb(236, 180, 59);
  border-radius: 5px;
  font-size: 4vw;
  color: rgb(236, 180, 59);
  font-weight: 600;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.saved-result {
  color: var(--second-color);
  background-color: rgb(236, 180, 59);
  font-size: 4.1vw;
}

button > i {
  pointer-events: none;
}

[parentheses-delta] {
  position: relative;
}

[parentheses-delta]::before {
  content: attr(parentheses-delta);
  position: absolute;
  top: 1.2vw;
  right: 1.2vw;
  width: 5vw;
  height: 5vw;
  font-size: 4.5vw;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(236, 180, 59);
}

[parentheses-delta]:active:before {
  color: var(--second-color);
}

footer {
  margin-top: 5vw;
  font-size: 3vw;
  font-style: italic;
  color: var(--second-color);
  font-weight: 600;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */