:root {
  --hue-rotate: hue-rotate(0deg);
  --second-color: white;
}

$main0: rgb(236, 180, 59);
$main1: rgb(246, 218, 157);
$main2: rgb(237, 184, 69);
$main3: rgb(239, 193, 93);
$main4: rgb(232, 166, 23);
$mainGradient: linear-gradient(225deg, $main1 0%, $main2 30%, $main3 60%, $main4 100%);
// $second: rgb(59, 68, 75);
$second: var(--second-color);

body {
  box-sizing: border-box;
}

#background {
  background-image: linear-gradient(358deg, $main4 0%, $main3 30%, $main2 50%, $main1 65%, $second 75%, $second 100%);
  filter: var(--hue-rotate);
  position: absolute;
  top: 0px;
  left: 0px;
}

#calculator {
  margin: 2vw; // indent from window borders
  width: 96vw;
  background-color: $second;
  border-radius: 25px;
}

#displayBox {
  background-image: linear-gradient(358deg, $second 0%, $second 10%, $main1 20%, $main2 30%, $main4 100%);
  border-radius: 25px 25px 0 0;
}

#display {
  height: 13vw; // height of the result display
  padding: 4.3vw 13vw 0 13vw; // indent from top border of parent container
  text-align: center; // styling result
  font-weight: 800; // styling result
  font-size: 6.4vw; // styling result
  color: $second; // styling result
  overflow: hidden;
  text-overflow: ellipsis;
}

#displayAll {
  height: 37vw; // height of the displayOps
  padding-top: 4.3vw; // indent from top border of parent container
  padding-bottom: 5vw;
  font-weight: 600; // styling displayOps
  font-size: 4.3vw; // styling displayOps
  color: $second; // styling displayOps
  overflow: auto;
}

::-webkit-scrollbar {
  width: 2vw;
  height: 2vw;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  border: solid 1px $main0;
}

::-webkit-scrollbar-thumb {
  background: $second;
  border-radius: 10px;
  border: solid 1px $main0;
}

::-webkit-scrollbar-thumb:hover {
  background: $main0;
  border: solid 2px $second;
}

#button-pad {
  background-color: $second;
}

button {
  background: none;
  border: none;
  margin: 0.5vw;
  width: 14vw;
  height: 14vw;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 15px;
  font-weight: 800;
  font-size: 4.5vw;
  overflow: hidden; // prevents text overflowing it's container
}

.main-btn {
  background-image: $mainGradient;
  filter: hue-rotate(-5deg); // make another way to signle out main buttons
  color: $second;
  font-size: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-btn {
  color: $main0;
  font-weight: 600;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  font-size: 6vw;
}

.tertiary-btn {
  color: $main0;
  font-weight: 600;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  font-size: 6vw;
}

.digits-btn {
  background-image: $mainGradient;
  color: $second;
  font-size: 7vw;
}

.long-text-btn {
  font-size: 5vw;
}

.main-operators {
  font-size: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  border: 1px solid $main0;
  border-color: $main0;
  box-shadow: 0 0 7px 2px $main0;
}

button:active {
  color: $second;
  background-image: $mainGradient;
  box-shadow: 0 2px 7px 2px $second;
  transform: translateY(-2px);
}

.digits-btn:hover,
.main-btn:hover {
  border: 1px solid $second;
  border-color: $second;
  box-shadow: 0 0 7px 4px $second;
}

.digits-btn:active,
.main-btn:active {
  color: $main0;
  background: $second;
  box-shadow: 0 2px 7px 2px $main0;
  transform: translateY(-2px);
}

#copy {
  position: absolute;
  z-index: 1;
  margin: 4vw 4vw 0 0;
  right: 0;
  position: absolute;
  font-size: 6vw;
  width: 7vw;
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $second;
  box-shadow: none;
}

#colorTheme {
  @extend #copy;
  left: 0;
  margin: 4vw 0 0 4vw;
  color: $second;
  width: 7vw;
  height: 7vw;
  font-size: 7vw;
  z-index: 1;
  border-radius: 1.1vw;
}

$degree: 0;
$degreeStep: 40;
$cols: 6;

@while $degree < 720 {
  #style#{$degree} {
    @extend #colorTheme;
    @if $degree < $degreeStep * $cols {
      margin-top: 3.5vw;
      margin-left: (11.5 + ($degree - $degreeStep * $cols * 0) / 3) + vw;
    } @else if $degree < $degreeStep * $cols * 2 {
      margin-top: 18vw;
      margin-left: (11.5 + ($degree - $degreeStep * $cols) / 3) + vw;
    } @else {
      margin-top: 32.5vw;
      margin-left: (11.5 + ($degree - $degreeStep * $cols * 2) / 3) + vw;
    }

    background-color: $main0;
    width: 10vw;
    height: 13vw;
    font-size: 14.5vw;
    z-index: 1;
    @if $degree < 360 {
      color: white;
    } @else {
      color: rgb(59, 68, 75);
    }

    filter: hue-rotate($degree + deg);
  }
  $degree: $degree + $degreeStep;
}

#copy:hover {
  border: 1px solid $second;
  border-color: $second;
  box-shadow: 0 0 7px 4px $second;
}

#copy:active {
  color: $main0;
  background: $second;
  box-shadow: 0 2px 7px 2px $main0;
  transform: translateY(-2px);
}

#memorySlot {
  border-radius: 0 0 25px 25px;
  padding-top: 7vw;
  padding-bottom: 3vw;
}

.singleMemorySlot {
  margin: 1vw 0;
}

.ms-btn {
  background-image: $mainGradient;
  filter: hue-rotate(-5deg);
  width: 12vw;
  height: 6vw;
  margin: auto 1vw;
  display: inline;
  color: $second;
  font-size: 4vw;
}

.ms-text {
  width: 52vw;
  height: 8vw;
  border: 1px solid $main0;
  border-radius: 5px;
  font-size: 4vw;
  color: $main0;
  font-weight: 600;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  text-align: center;
  padding: 0.5vw 3vw;
  display: inline-block;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.saved-result {
  @extend .ms-text;
  color: $second;
  background-color: $main0;
  font-size: 4.1vw;
}

button > i {
  pointer-events: none;
}

[parentheses-delta] {
  position: relative;
}
[parentheses-delta]::before {
  content: attr(parentheses-delta);
  position: absolute;
  top: 1.2vw;
  right: 1.2vw;
  width: 5vw;
  height: 5vw;
  font-size: 4.5vw;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main0;
}
[parentheses-delta]:active:before {
  color: $second;
}

footer {
  margin-top: 5vw;
  font-size: 3vw;
  font-style: italic;
  color: $second;
  font-weight: 600;
  text-align: center;
}

@media only screen and (orientation: portrait) {
  #portrait {
    display: block;
  }
  #landscape {
    display: none;
  }
}

@media only screen and (orientation: landscape) {
  #portrait {
    display: none;
  }
  #landscape {
    display: block;
    background-image: $mainGradient;
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  #landscape div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20vh;
    font-size: 2vw;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    color: $second;
  }
  #landscape img {
    height: 70vh;
    transform: rotate(90deg);
    display: block;
    margin: auto;
  }
}
